.cah-content {
  padding: 20px 15px 20px 20px !important;
}

.cah-face {
  font-size:   1.6rem;
  line-height: 2.25rem;
  font-weight: 800;
  margin-top:  0;
}

.cah-footer {
  border-top: 0 !important;
  padding:    20px 15px 20px 20px !important;
}

.cah-black-circle {
  margin-left:           0.5rem;
  display:               inline-block;
  text-align:            center;
  color:                 black;
	width:                 30px;
	height:                30px;
	background:            white;
	-moz-border-radius:    15px;
	-webkit-border-radius: 15px;
	border-radius:         15px;
  font-weight:           800;
  font-size:             1.4rem;
}


.cah-black-instr {
  color:          white !important;
  font-weight:    800;
  margin-bottom:  0.5rem;
  font-size:      1.25rem;
  display:        block;
}

.white-card {
  border:           2px solid black;
}

.black-card {
  border:           2px solid white;
}

.card {
  height:           300px;
  width:            275px;
  border-radius:    8px;
  float:            right;
  margin-right:     0.5rem;
}

.card-view {
  overflow: auto;
}

.card-row {
  margin-top: 1rem;
}
