<form id="new-card-form" class="col s12">
  <ul class="tabs">
    <li class="tab col s6"><a data-color="0" id="white" href="">White Card</a></li>
    <li class="tab col s6"><a data-color="1" id="black" href="">Black Card</a></li>
  </ul>
  <div id="fails" class="margin-top-small"></div>
  <p id="white-info">Enter the body of your white card. Be sure not to type any "_" characters.</p>
  <p id="black-info">Enter the body of your black card. Type the "_" character to get a blank space. Please limit yourself to at most three blank spaces.</p>
  <div class="input-field margin-top">
    <textarea name="cardBody" id="cardBody" class="materialize-textarea" length="50"></textarea>
    <label for="cardBody">Enter Card Body</label>
  </div>
  <p class="flow-text" id="blanks-counter"></p>
  <button id="submit" class="btn-large blue lighten-3 btn waves-effect waves-light">Create the Card!</button>
</form>
