<form id="new-card-form" class="col s12">
  <ul class="tabs">
    <li class="tab col s6"><a data-color="0" id="white" href="">White Card</a></li>
    <li class="tab col s6"><a data-color="1" id="black" href="">Black Card</a></li>
  </ul>
  <div class="input-field margin-top">
    <textarea name="cardBody" id="cardBody" class="materialize-textarea" length="50"></textarea>
    <label for="cardBody">Enter Card Body</label>
  </div>
  <button id="submit" class="btn-large blue lighten-3 btn waves-effect waves-light">Create the Card!</button>
</form>
