{{set . "title" "CAH Online"}}
{{set . "backbone" ""}}
{{template "homepage-header.html" .}}

<div class="row">
  <div class="col s12 center-align text-white">
    <h1>Cards Against Humanity</h1>
    <h2>Online</h2>
    <button class="blue lighten-3 btn waves-effect waves-light">Log In</button>
    <h4>Or</h4>
    <button class="blue lighten-3 btn waves-effect waves-light">Create an Account</button>
    <hr class="spacer">
    <button class="btn">Log in with Facebook</button>
  </div>
</div>

{{template "footer.html" .}}
