  </div>
  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}
  <script src="/public/js/lib/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/public/js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/public/js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/public/js/lib/backbone.js" type="text/javascript" charset="utf-8"></script>
  {{if eq .backbone "cards" "new card" "card" }}
    <script src="/public/js/models/card_model.js"></script>
    <script src="/public/js/collections/cards.js"></script>
    <script src="/public/js/views/card_view.js"></script>
  {{end}}

  {{if eq .backbone "cards"}}
    <script src="/public/js/pages/cards.js"></script>
  {{end}}

  {{if eq .backbone "new card"}}
    <script src="/public/js/pages/new_card.js"></script>
  {{end}}

  {{if eq .backbone "card"}}
    <script src="/public/js/views/card_comments_view.js"></script>
    <script src="/public/js/pages/show_card.js"></script>
  {{end}}
  </body>
</html>
