<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/cards.css">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav class="main-nav">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Cards Against Humanity</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/cards/new">Create Card</a></li>
          <li><a href="/cards">All Cards</a></li>
          <li><a href="startgame">Start Game</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
